# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL="/dashboard"
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL="/dashboard"

NEXT_PUBLIC_UPLOAD_CARE=

TRANSLATION_API_URL=
TRANSLATION_API_KEY=
TRANSLATION_API_HOST=

NEXT_PUBLIC_CLOUDINARY_API_UPLOAD=

STRIPE_SECRET=
NEXT_PUBLIC_STRIPE_OAUTH_ID=
NEXT_PUBLIC_STRIPE_PUBLISH_KEY=

NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_URL=

NODE_MAILER_EMAIL=
NODE_MAILER_GMAIL_APP_PASSWORD=

OPEN_AI_KEY=

SCRAPPING_ANT_TOKEN=
SCRAPPING_ANT_HOST=

NEXT_PUBLIC_DMS_URL=